.heroBanner {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  position: relative !important;
  overflow: hidden !important;
  background-image: url('/images/landingpageimage/landing-page-image.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-color: #232323 !important;
  width: 100vw !important;
  min-width: 100vw !important;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  max-width: 100vw !important;
  height: 400px !important;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    height: 250px !important;
  }
}

/* If a parent container uses Docusaurus's .container or .row, override those widths: */
.container, .row {
  width: 100vw !important;
  min-width: 100vw !important;
  max-width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}
